%div
  %h3 
    ようこそ
    =h @user.name
    さん
%div
  = form_tag :action => :update do
    %p  
      %b 連絡先
      %br
      = text_field_tag "post[address]", @post.address, :size => 80
    %p
      %b 提供出来るもの
      %br
      = text_field_tag "post[cost]", @post.cost, :size => 80
    %p
      %b メモ
      %br
      = text_area_tag "post[memo]", @post.memo, :size => "80x15"
    %p
      = submit_tag "投稿する"
